.banner  {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 2rem;   /* or whatever size you like */
    padding-bottom: 2rem;
    background: linear-gradient(to bottom, rgb(24, 24, 24), rgb(30, 30, 30));
   
    margin: 0;
    }

.banner-left, 
.banner-right {
     display: flex;
      flex-direction: column;
      justify-content: baseline;
      align-items: center;
      text-align: center;
      padding: 2rem;
      margin: 0;
      animation: slide-in 1s ease-out forwards;
      color: #fff;
}
.banner-left p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1.2;
    padding: 2rem;
    width: 85%;
    margin: 0;
}

.banner-left h2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 3.8rem;
    flex-wrap: wrap;
    margin: 0;
}
.banner-right p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 1.2;
    padding: 2rem;
    width: 90%;
    margin: 0;
    
}

.banner-right h2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 3.8rem;
    margin: 0;
}
@media (max-width: 900px) {
  .banner {
    grid-template-columns: 1fr; /* Stack vertically */
  }
}
.color-filler {
    height: 1.5vh;
    background: rgb(228, 228, 228);
}
.content-container {
    border-bottom: 4vh solid rgb(24, 24, 24); 
    width: 98.82vw;
    /* Background */
    background: white;
    background-image: url('../Images/bandw.jpg'); 
    background-size: cover;     /* Stretch to fill */
    background-position: center;
    background-repeat: no-repeat;
    /* Layout */
    display: flex;
    justify-content: center; 
    align-items: stretch;
    padding: 7vw;
     /* <-- full screen height */
    min-height: 100vh;
    
}

.bio-section {
    
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 2vw;
    gap: 2rem;
    width: 100%;
}

.top-text-bio, .bottom-text-bio {
    color: #090505;
    padding: 1rem;
    text-align: left;
    margin: 0;
} 

.top-text-bio h2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 1vh 0 0 0;
}
.top-text-bio h3 {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    letter-spacing: .9px;
    text-indent: 0.5rem;
    margin: 0;
}
.top-text-bio p {
    font-family: 'josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
    text-indent: 3rem;
}

.bottom-text-bio h2 {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 1vh 0 0 0;
}
.bottom-text-bio h3 {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    text-indent: 0.5rem;
    margin: 0;
}
.bottom-text-bio p {
    font-family: 'josefin Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
    text-indent: 3rem;
}

.map-section {
    background: linear-gradient(to bottom, rgb(24, 24, 24), rgb(30, 30, 30));
    color: #fff;
    font-family: 'merriweather', sans-serif;
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
}
.map-section h3 {
    margin-top: 0;
    margin-bottom: 5vh;
}