* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', serif;
}

h1 {
  padding: 50em;
  text-align: center;

}
header {
  background-image: url(../Images/mainImg.jpg);
  

}